[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
picotui = "*"
dask = "*"
asciimatics = {editable = true,git = "https://github.com/peterbrittain/asciimatics",ref = "master"}
distributed = "*"

[requires]
python_version = "3.8"
